<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <appSettings>   
      <!--<add key="ULH" value="E:\AuthCode\"/>-->
      <add key="Errorpath" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Logs\AuthcodeErrorLog\"/>
      <add key="Sourcepath" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Directories\AuthCodeHistory\"/>
      <add key="Destinationpath" value="E:\FeedTester\SMC Applications\apps\Authcode\ULH\Directories\AuthcodeArchive\"/>
      <!--<add key="logsource" value="E:\Authcode\ULH\Logs\AuthCodeLog"/>
      <add key="logtarget" value="E:\AuthCode\ULH\Logs\AuthCodeLogArchive"/>-->
    </appSettings>  
  
</configuration>
